
.banner img{
    width: 100%;
    margin-top: 44px;
}

header{
    background-color: blue;
    text-align: center;
    width: 100%;
    line-height: 44px;  
    color: white;
    font-size: 22px;
    font-weight: bolder;

    left: 0;
    top: 0;
    position: fixed;

}


footer{
    background-color: black;
    height: 49px;
    
    left: 0;
    bottom: 0;
    position: fixed;
    
}
footer a{
    width: 20%;
    color: white;
}

.header_vice{
    background-color: white;
    height: 44px;
    margin-top: 44px;
}
.header_vice a{
    width: 20%;
    color: blue;
}

